<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrescriptionManagementSystem.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PrescriptionManagementSystem.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
		
    </configSections>
	<connectionStrings>
		<add name="PharmaZeal" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=PharmaZeal; Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <applicationSettings>
        <PrescriptionManagementSystem.AppSetting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=PharmaZeal; Integrated Security=True; </value>
            </setting>
        </PrescriptionManagementSystem.AppSetting>
        
    </applicationSettings>
</configuration>